@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:#9539ff;
}

header{
    background: linear-gradient(to bottom, rgba(25, 1, 245, 0.651), rgb(91, 171, 236));
    height: 40px;
    text-align: center;
    padding-top: 5px;
    font-size: 0.8em;
    color: #fff;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.466);
}

main .list-container{
     display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 25px;
}

#task-input{
    height: 25px;
    background-color:#4abbeb;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

#adic{
    height: 25px;
    background-color:#4abbeb;
    color: #fff;
    padding: 2px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: none;

}

#adic:hover{
    background-color:#67d1ff;
    transform: translateY(-3px);
    transition: 0.5s;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.466);
    color: #000;

}

#tasks {
    width: 238px;
    height: 40vh;
    margin-top: 10px;
    padding: 15px;
    font-weight: bold;
    overflow: auto;
    scrollbar-width: none;
    background-color:#81c8e7;
    border: none;
    border-radius: 8px;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.466);
}



footer{
    padding: 2px;
    color: #fff;
    background:linear-gradient(to right,#4abbeb, rgb(26, 1, 245), rgb(91, 171, 236));
    position: fixed;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
}